## Classification Report
![Alt text](https://i.imgur.com/vnJdiYs.png)


## Matriz de Confusão 
![Alt text](https://imgur.com/qMQKcHi.jpg)
